body {
    background-color: #333333;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.lfg--block {
    background-color: #222222;
    border-radius: 4px;
}

.lfg--block-secondary {
    background-color: #333333;
    border-radius: 4px;
}

.lfg--inline-block {
    display: inline-block;
}

.lfg--padding-1 {
    padding: 4px;
}

.lfg--padding-vert-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.lfg--margin-0 {
    margin: 0;
}

.lfg--color-secondary {
    color: #777777;
}

.lfg--color-success {
    color: #27AE60;
}

.lfg--text-center {
    text-align: center;
}

.lfg--text-uppercase {
    text-transform: uppercase;
}

.lfg--text-bold {
    font-weight: bold;
}

.lfg--vertical-top {
    vertical-align: top;
}

.lfg--progress-bar-outer {
    background-color: #333333;
}

.lfg--progress-bar-inner {
    background-color: #27AE60;
    height: 16px;
}

.lfg--progress-bar-label {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.lfg--flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lfg--flex-column {
    display: flex;
    flex-direction: column;

}

.lfg--flex-row > div {
    margin: 4px;
}

.lfg--button {
    padding: 4px;
    background-color: #333333;
    text-decoration: none;
    color: #ffffff;
}

.lfg--text-right {
    text-align: right;
}

.lfg--flex-grow-1 {
    flex-grow: 1;
}

.lfg--flex-grow-3 {
    flex-grow: 3;
}

.lfg--flex-shrink-1 {
    flex-shrink: 1;
}

.lfg--flex-basis-0 {
    flex-basis: 0;
}

.lfg--flex-between {
    justify-content: space-between;
}

.lfg--color-logo {
    color: darkslateblue;
}

.lfg--margin-bottom-1 {
    margin-bottom: 4px;
}

.lfg--margin-bottom-2 {
    margin-bottom: 8px;
}

.lfg--margin-bottom-4 {
    margin-bottom: 16px;
}

.lfg--display-block {
    display: block;
}

.lfg--position-relative {
    position: relative;
}

input, textarea {
    background-color: #333333;
    border: none;
    color: #777777;
}

.lfg--tag {
    background-color: #333333;
    color: #777777;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.lfg--tag-icon {
    color: #777777;
    font-size: 1em;
    vertical-align: middle;
}

.lfg--image-caption-top-left {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    border-radius: 2px;
    padding: 2px;
    opacity: .7;
}
