<form method="POST" action="/lfg">
    {{ form.name.label }}
    {{ form.name }}
    {% for error in form.name.errors %}
        {{ error }}
    {% endfor %}
    {{ form.have.label }}
    {% for error in form.have.errors %}
        {{ error }}
    {% endfor %}
    {{ form.have }}
    {{ form.need.label }}
    {% for error in form.need.errors %}
        {{ error }}
    {% endfor %}
    {{ form.need }}
    {{ form.csrf_token }}
  <input type=submit value="LFG">
</form>
