{% extends "page.jinja2" %}
{% block content %}
    <form method="POST" action="/lfg">
        {{ form.csrf_token }}
        <table class="lfg--block lfg--padding-1 lfg--color-secondary">
            <tr>
                <td>{{ form.name.label }}</td>
                <td>
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                    {{ form.name }}
                </td>
            </tr>
            <tr>
                <td>{{ form.description.label }}</td>
                <td>
                    {% for error in form.description.errors %}
                        {{ error }}
                    {% endfor %}
                    {{ form.description }}
                </td>
            </tr>
            <tr>
                <td>{{ form.have.label }}</td>
                <td>
                    {% for error in form.have.errors %}
                        {{ error }}
                    {% endfor %}
                    {{ form.have }}
                </td>
            </tr>
            <tr>
                <td>{{ form.need.label }}</td>
                <td>
                    {% for error in form.need.errors %}
                        {{ error }}
                    {% endfor %}
                    {{ form.need }}
                </td>
            </tr>
            <tr>
                <td><input type=submit value="LFG"></td>
            </tr>
        </table>
    </form>
{% endblock %}
