{% extends "page.jinja2" %}
{% block content %}
    <div class="lfg--block lfg--padding-1 lfg--margin-bottom-4">
        Filter Options Here
    </div>
    {% for lfg in lfgs %}
        <div class="lfg--block lfg--padding-1 lfg--margin-bottom-4">
            <div class="lfg--flex-row">
                <div class="lfg--position-relative">
                    <img class="lfg--display-block" src="{{ avatar_url }}">
                </div>
                <div class="lfg--flex-grow-3 lfg--flex-basis-0">
                    <div class="col-sm-6">
                        <p class="lfg--text-uppercase lfg--text-bold">{{ lfg["name"] }}</p>
                        {% if lfg["description"] %}
                            <p class="lfg--color-secondary">{{ lfg["description"] }}</p>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        <div class="lfg--progress-bar-outer lfg--position-relative">
                            <span class="lfg--progress-bar-label">1/10</span>
                            <div class="lfg--progress-bar-inner" style="width: 20%"></div>
                        </div>
                        <div class="lfg--flex-row lfg--flex-between">
                            <div class="lfg--color-secondary">
                                <i class="material-icons lfg--color-secondary">mic</i>
                                <i class="material-icons lfg--color-secondary">network_check</i>
                            </div>
                            <div class="lfg--text-right">
                                <a class="lfg--button" href="/group/{{ lfg["id"] }}">Join</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
