<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/grid.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="lfg--block lfg--padding-1 lfg--color-logo lfg--margin-bottom-4">LFG</div>
    {% block content %}
    {% endblock %}
</body>
</html>
